*{
   margin: 0 ;
   padding: 0;
   list-style: none;
   text-decoration: none;
   gap: ;
}

.container{
   width: 1240px;
   margin: 0 auto;
}

.navbar{
   display: flex;
   
}

.nav-list{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 54px;
   color: rgb(0, 0, 0);
   
}

.nav-list:hover{
   color: rgb(21, 0, 255);
}

.hero{
   margin-top: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hero-content{
   width: 442px;
}

.hero-title{
   font-size: 48px;
   font-weight: 700;
}

.hero-text{
font-size: 22px;
line-height: 32px;
margin: 37px 0;
}

.hero-btn{
   width: 200px;
   height: 56px;
   border-radius: 55px;
   border: 2px solid rgba(69, 143, 246, 1);
   background-color: rgba(69, 143, 246, 1);
   color: white;
   font-size: 18px;
   transition: all 0.4s ease-in-out;
}

.hero-btn:hover{
   background-color: rgb(255, 255, 255);
   color: rgba(69, 143, 246, 1);
}


.services-title, .services-text{
text-align: center;
}

hr{
   border: 1px solid black;
   width: 50px;
   margin: 20px auto;
}

.services-text{
   width: 952px;
   margin: 0 auto;

}


